src/Common/SSTVN.PMS.Common/Service References/myServiceReference/GeneralService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneralService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://105vm-w764-sql-ddo/SSTVN/GeneralService/GeneralService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://105vm-w764-sql-ddo/SSTVN/GeneralService/GeneralService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://105vm-w764-sql-ddo/SSTVN/GeneralService/GeneralService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneralService_GetDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_GetDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_Submit" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_SubmitPartial_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_SubmitPartial" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_SubmitPartial_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_SubmitPartialResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_ActionOnRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_ActionOnRequest" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_ActionOnRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_ActionOnRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_ActionOnRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_ActionOnRequests" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_ActionOnRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_ActionOnRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_DeletePendingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_DeletePendingRequest" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailVacation_DeletePendingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailVacation_DeletePendingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailProject_Assign_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailProject_Assign" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailProject_Assign_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailProject_AssignResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailTemplate" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_EmailTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneralService">
    <wsdl:operation name="GetDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/GetDate" message="tns:IGeneralService_GetDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/GetDateResponse" message="tns:IGeneralService_GetDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/GetPicture" message="tns:IGeneralService_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/GetPictureResponse" message="tns:IGeneralService_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/SendEmail" message="tns:IGeneralService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/SendEmailResponse" message="tns:IGeneralService_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/SendMail" message="tns:IGeneralService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/SendMailResponse" message="tns:IGeneralService_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_Submit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_Submit" message="tns:IGeneralService_EmailVacation_Submit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_SubmitResponse" message="tns:IGeneralService_EmailVacation_Submit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_SubmitPartial">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_SubmitPartial" message="tns:IGeneralService_EmailVacation_SubmitPartial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_SubmitPartialResponse" message="tns:IGeneralService_EmailVacation_SubmitPartial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_ActionOnRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_ActionOnRequest" message="tns:IGeneralService_EmailVacation_ActionOnRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_ActionOnRequestResponse" message="tns:IGeneralService_EmailVacation_ActionOnRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_ActionOnRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_ActionOnRequests" message="tns:IGeneralService_EmailVacation_ActionOnRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_ActionOnRequestsResponse" message="tns:IGeneralService_EmailVacation_ActionOnRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_DeletePendingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_DeletePendingRequest" message="tns:IGeneralService_EmailVacation_DeletePendingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailVacation_DeletePendingRequestResponse" message="tns:IGeneralService_EmailVacation_DeletePendingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailProject_Assign">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailProject_Assign" message="tns:IGeneralService_EmailProject_Assign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailProject_AssignResponse" message="tns:IGeneralService_EmailProject_Assign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/EmailTemplate" message="tns:IGeneralService_EmailTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/EmailTemplateResponse" message="tns:IGeneralService_EmailTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneralService" type="tns:IGeneralService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_Submit">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailVacation_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_SubmitPartial">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailVacation_SubmitPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_ActionOnRequest">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailVacation_ActionOnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_ActionOnRequests">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailVacation_ActionOnRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailVacation_DeletePendingRequest">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailVacation_DeletePendingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailProject_Assign">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailProject_Assign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailTemplate">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/EmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralService">
    <wsdl:port name="BasicHttpBinding_IGeneralService" binding="tns:BasicHttpBinding_IGeneralService">
      <soap:address location="http://105vm-w764-sql-ddo/SSTVN/GeneralService/GeneralService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>